/* ------------------------------------------------------

  ---------------------
  - TABLE OF CONTENTS -
  ---------------------

  - Left Side
    * Logo
    * Link Counter Display
    * User Input
    * Error Message
  - Right Side
    * Bookmark Box
  - Media Query 700 PX
    * Left Side
    * Right Side

  ----------
  -  FONTS -
  ----------

  - OpenSans
    * Extra-Bold:  800
    * Bold:        700
    * Regular:     400

  ------------------
  -  COLOR PALETTE -
  ------------------

  #455A64 - Dark Background
  #CFD8DC - Light Background
  #FFFFFF - Linked List Logo Text Color

  #FFC107 - Button Color
  #FFD773 - Button Color :hover
  #FFFFFF - Button Text Color

  #607D8B - Bookmark Box Border
  #455A64 - Bookmark Box Title
  #607D8B - Bookmark URL
  #F2F4F4 - Bookmark URL Underline
  #CFD8DC - Bookmark URL Border
  #455A64 - Bookmark Read / Delete
  #455A64 - Bookmark URL | :hover
  #FFC107 - Bookmark URL Unerline | :hover
  #F2F4F4 - Bookmark Box Background Color | When Read
  #CFD8DC - Bookmark URL Underline | When Read
  #F05A28 - Bookmark Read | When Read

------------------------------------------------------ */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  height: 100%;
}

.bookmark-title, .bookmark-url, .bookmark-input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* =============
    Left Side
==============*/

.left-side {
  display: flex;
  background-color: #455A64;
  width: 50%;
  height: 100vh;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* LOGO */

.logo-text {
  color: white;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.logo-image {
  height: 38px;
}

/* LINK COUNTER DISPLAY */

.counter-display {
  display: flex;
  color: white;
  justify-content: center;
}

.read-link-counter, .unread-link-counter {
  margin-left: 10px;
}

/* USER INPUT */

.bookmark-input {
  display: flex;
  flex-flow: column wrap;
  width: 86%;
}

.bookmark-title-input, .bookmark-url-input, .enter-button {
  margin-top: 25px;

}

.bookmark-title-input, .bookmark-url-input {
  font-size: 26px;
}

.enter-button, .clear-button {
  font-weight: 400;
  font-size: 16px;
  height: 30px;
  border: 100px;
  /*width: 100%;*/
  background-color: #FFC107;
  color: #FFFFFF;
}

.enter-button:hover,
.clear-button:hover {
  background-color: #FFD773;
}

.enter-button:disabled,
.clear-button:disabled {
  background-color: #D0D9DC;
}

.bookmark-title-input,
.bookmark-url-input,
.enter-button,
.clear-button, 
.error-message {
  margin-top: 40px;
}

/* ERROR MESSAGE */

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: firebrick;
  width: 86%;
  color: white;
  padding: 6px 0 6px 0;
  font-size: 16px;
  font-weight: 700;
  flex-wrap: nowrap;
  white-space: pre-wrap;
}

.error-cause {
  font-size: 16px;
  font-weight: 400;
}

/* ==============
    Right Side
===============*/

.right-side {
  background-color: #CFD8DC;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: scroll;
  justify-content: flex-start;
}

/* BOOKMARK BOX */

.bookmark-box {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 92%;
  background: #FFFFFF;
  border: 2px solid #607D8B;
  display: flex;
  flex: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.bookmark-bottom-line {
  height: 28px;
  width: 94%;
  display: flex;
  flex-flow: row nowrap;
  flex: none;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 1px 0 1px 0;
}

.bookmark-title {
  color: #455A64;
  font-weight: 700;
  margin: 2% 0 0 3%;
}

.bookmark-url-link, .read-link, .delete-link {
  text-decoration: underline #F2F4F4;
}

.bookmark-url-link:hover, .read-link:hover, .delete-link:hover {
  color: #455A64;
  text-decoration: underline #FFC107;
}

.bookmark-url-link:hover, .read-link:hover {
  font-weight: 800;
}

.bookmark-url {
  padding: 4% 0 4% 0;
  margin: 1% 3% 1% 3%;
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}

.bookmark-url-link {
  color: #607D8B;
}

.read-link, .delete-link {
  color: #455A64;
}

.read-button, .delete-button {
  font-size: 13px;
}

.read-box {
  background: #F2F4F4;
}

.read-url, .read-delete {
  text-decoration: underline #CFD8DC;
}

.read-read {
  color: #F05A28;
  font-weight: 800;
}

@media screen and (max-width: 710px) {
  main {
    flex-direction: column;
  }
/* LEFT SIDE */
  .left-side {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 40vh;
    width: 100%;
  }

  .bookmark-title-input, .bookmark-url-input {
    margin-top: 15px;
    font-size: 24px;
  }

  .enter-button,
  .clear-button {
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    margin-top: 15px;
  }

  .logo-text {
    font-size: 24px;
  }

  .logo-image {
    height: 18px;
  }

  .logo-text {
    margin: 8px 0 -6px 0;
  }

  .error-message, .error-cause {
    font-size: 12px;
    padding: -2px 0 -2px 0;
  }

  .error-message {
    margin: 0;
    height: 8px;
  }

/* RIGHT SIDE */

  .right-side {
    height: 60vh;
    width: 100%;
    flex-flow: column nowrap;
    overflow-y: scroll;
    justify-content: : flex-start;
  }

  .bookmark-box {
    display: flex;
    flex-flow: column;
  }

  .bookmark-bottom-line {
    padding: 1px 0 1px 0;
  }
}
